<!DOCTYPE html>
<style>
    @media all and (min-width:1000px) {
        .banner{
                padding-top: 0rem;
        }
        #navbarsExample07XL>.header_phone{
        display: none;
        }
        
        .wrap{
            width: 6.8%;
        }
        .wrap>li{
            height: 32px;
            line-height: 32px;
            margin: 0px;

        }
        #phone_header_nav {
            display: none;
        }
        #pc_header_nav {
            width: 100%;
            background-color: #d60011;
        }
        #nav1{
            width: 70%;
            margin: 0 auto;
        }
        #nav1>li{
            height: 50px;
            line-height: 50px;
            list-style: none;
            float: left;
            text-align: center;
        }
        #nav1>li:not(:first-child):hover{
            background-color: #fff;
        }
        #nav1>.nav_list>.nav_a{
            color: #d60011;
        }
        /*#nav1>li>a:hover{*/
        /*    color: #d60011;*/
        /*}*/
        #nav1>li:not(:first-child){
            width: 10%;
        }
        .lianxi{
            height: 50px;
            line-height: 50px;
            color: #fff;
            /*width: 15%;*/
            float: right;
        }
        #nav1>li>a{
            text-decoration: none;
            color: #fff;
        }
        
    }
    
    @media all and (max-width:1000px) {
        #pc_header_nav {
                display: none;
            }
        #navbarsExample07XL>.header_cp{
            display: none;
        }
        .banner{
            padding-top: 3.7rem;
        }
        #phone_header_nav {
            display: block;
        }
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>紫红泥酒</title>
    <link rel="stylesheet" href="/static/index/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/index/lib/animate.css">
    <link rel="stylesheet" href="/static/index/static/index/css/index.css">
    <link rel="stylesheet" href="/static/index/static/index/css/common.css">
    
</head>
<body>
    <!--    手机端-->
    <nav id="phone_header_nav" class="navbar navbar-expand-lg navbar-dark fixed-top"
         style="background-color: #d60011;padding: 0;">
        <div class="container-xl">
            <a class="navbar-brand" href="/"><img src="/static/index/static/index/img/logo/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL"
                    aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07XL">
                <ul class="navbar-nav mr-auto" id="nav">
                    <li class="">
                        <a class="" href="/">首页</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">关于公司</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/index.php/About">公司简介</a>
                            <a class="dropdown-item" href="/index.php/strategy">四大战略</a>
                            <a class="dropdown-item" href="/index.php/vision">紫红泥愿景</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">新闻中心</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/index.php/news">新闻资讯</a>
                            <a class="dropdown-item" href="/index.php/activity">品牌活动</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">产品中心</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/index.php/product">紫红泥</a>
                            <a class="dropdown-item" href="/index.php/altar">封坛专区</a>
                            <a class="dropdown-item" href="/index.php/commission">定制中心</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">酒之博览</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/index.php/expo">紫红泥工艺</a>
                            <!--<li class=""><a href="/index.php/wenjing">紫红泥文集</a></li>-->
                            <!--<li class=""><a href="/index.php/yanjiuyuan">紫红泥研究院</a></li>-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-togglenav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">会员体系</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/index.php/join_us1">经销商服务</a>
                            <a class="dropdown-item" href="/index.php/join_us2">经销商体系</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">加入我们</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/index.php/member">经销商服务</a>
                        </div>
                    </li>
                </ul>
                <div class="form-inline my-2 my-md-0"><span class="nav-link" style="color: #fff;">招商热线：13316820199</span></div>
            </div>
        </div>
    </nav>
    <!--    PC端-->
    <nav id="pc_header_nav">

        <ul class="" id="nav1">
            <li><a href="/"><img style="width: 80%;" src="/static/index/static/index/img/logo/logo.png" alt="logo"></a></li>
            <li class="nav_list">
                <a class="" href="/">首页</a>
            </li>
            <li class="nav_list">
                <a class="" href="javascript:void(0);">关于公司</a>
                <ul class="wrap">
                    <li class=""><a href="/index.php/About">公司简介</a></li>
                    <li class=""><a href="/index.php/strategy">四大战略</a></li>
                    <li class=""><a href="/index.php/vision">紫红泥愿景</a></li>
                </ul>
            </li>
            <li class="nav_list">
                <a class="" href="javascript:void(0);">品牌活动</a>
                <ul class="wrap">
                    <!--<li class=""><a href="/index.php/news">新闻资讯</a></li>-->
                    <li class=""><a href="/index.php/activity">查看详情</a></li>
                </ul>
            </li>
            <li class="nav_list">
                <a class="" href="javascript:void(0);">产品中心</a>
                <ul class="wrap">
                    <li class=""><a href="/index.php/product">紫红泥</a></li>
                    <li class=""><a href="/index.php/altar">封坛专区</a></li>
                    <li class=""><a href="/index.php/commission">定制中心</a></li>
                </ul>
            </li>
            <li class="nav_list">
                <a class="" href="javascript:void(0);">酒之博览</a>
                <ul class="wrap">
                    <li class=""><a href="/index.php/expo">紫红泥工艺</a></li>
                    <li class=""><a href="/index.php/wenjing">紫红泥文集</a></li>
                    <li class=""><a href="/index.php/yanjiuyuan">紫红泥研究院</a></li>
                </ul>
            </li>
            <li class="nav_list">
                <a class="" href="javascript:void(0);">会员体系</a>
                <ul class="wrap">
                    <li class=""><a href="/index.php/member">会员详情</a></li>
                </ul>
            </li>
            <li class="nav_list">
                <a class="" href="javascript:void(0);">加入我们</a>
                <ul class="wrap">
                    <li class=""><a href="/index.php/join_us1">经销商服务</a></li>
                    <li class=""><a href="/index.php/join_us2">经销商体系</a></li>
                </ul>
            </li>
<!--            <div class="lianxi"><span>招商热线：13316820199</span></div>-->
            <div style="clear: both"></div>
        </ul>

    </nav>
<!--    <nav class="navbar navbar-expand-lg navbar-dark fixed-top header_cp" style="background-color: #d60011;padding: 0;">-->
<!--        <div class="container-xl">-->
<!--            <a style="margin: 0.5%;" class="navbar-brand" href="/"><img src="/static/index/static/index/img/logo/logo.png" alt="logo"></a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

<!--            <div class="collapse navbar-collapse" id="navbarsExample07XL">-->
                <!--PC端-->
<!--                <ul class="navbar-nav mr-auto header_cp" id="nav">-->
<!--                    <li class="">-->
<!--                        <a class="" href="/">首页</a>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="" href="javascript:void(0);">关于紫红泥</a>-->
<!--                        <ul class="wrap">-->
<!--                            <li class=""><a href="/index.php/About">公司简介</a></li>-->
<!--                            <li class=""><a href="/index.php/strategy">四大战略</a></li>-->
<!--                            <li class=""><a href="/index.php/vision">紫红泥愿景</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="" href="javascript:void(0);">品牌活动</a>-->
<!--                        <ul class="wrap">-->
                            <!--<li class=""><a href="/index.php/news">新闻资讯</a></li>-->
<!--                            <li class=""><a href="/index.php/activity">活动详情</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="" href="javascript:void(0);">产品中心</a>-->
<!--                        <ul class="wrap">-->
<!--                            <li class=""><a href="/index.php/product">紫红泥酒</a></li>-->
<!--                            <li class=""><a href="/index.php/altar">封坛专区</a></li>-->
<!--                            <li class=""><a href="/index.php/commission">定制中心</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">酒之博览</a>-->
                    <!--    <ul class="wrap">-->
                    <!--        <li class=""><a href="/index.php/expo">紫红泥工艺</a></li>-->
                    <!--        <li class=""><a href="/index.php/wenjing">紫红泥文集</a></li>-->
                    <!--        <li class=""><a href="/index.php/yanjiuyuan">紫红泥研究院</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
<!--                    <li class="">-->
<!--                        <a class="" href="javascript:void(0);">会员体系</a>-->
<!--                        <ul class="wrap">-->
<!--                            <li class=""><a href="/index.php/member">体系详解</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="" href="javascript:void(0);">加入我们</a>-->
<!--                        <ul class="wrap">-->
<!--                            <li class=""><a href="/index.php/join_us1">经销商服务</a></li>-->
<!--                            <li class=""><a href="/index.php/join_us2">经销商政策</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
                <!--手机端-->
<!--                <ul class="navbar-nav mr-auto header_phone" id="nav">-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          首页-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" class="" href="/">首页</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          关于紫红泥-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/About">公司简介</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/strategy">四大战略</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/vision">紫红泥愿景</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          品牌活动-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/activity">活动详情</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          产品中心-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/product">紫红泥酒</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/altar">封坛专区</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/commission">定制中心</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          酒之博览-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/expo">紫红泥工艺</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/wenjing">紫红泥文集</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/yanjiuyuan">紫红泥研究院</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          会员体系-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/member">体系详情</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                          加入我们-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" style="background: rgba(0, 0, 0, .3);" aria-labelledby="navbarDropdownMenuLink">-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/join_us1">经销商服务</a>-->
<!--                          <a class="dropdown-item" style="color: #fff;" href="/index.php/join_us2">经销商政策</a>-->
<!--                        </div>-->
<!--                    </li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="/">首页</a>-->
                    <!--</li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">关于紫红泥</a>-->
                    <!--    <ul class="wrap">-->
                    <!--        <li class=""><a href="/index.php/About">公司简介</a></li>-->
                    <!--        <li class=""><a href="/index.php/strategy">四大战略</a></li>-->
                    <!--        <li class=""><a href="/index.php/vision">紫红泥愿景</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">品牌活动</a>-->
                    <!--    <ul class="wrap">-->
                            <!--<li class=""><a href="/index.php/news">新闻资讯</a></li>-->
                    <!--        <li class=""><a href="/index.php/activity">活动详情</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">产品中心</a>-->
                    <!--    <ul class="wrap">-->
                    <!--        <li class=""><a href="/index.php/product">紫红泥酒</a></li>-->
                    <!--        <li class=""><a href="/index.php/altar">封坛专区</a></li>-->
                    <!--        <li class=""><a href="/index.php/commission">定制中心</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">酒之博览</a>-->
                    <!--    <ul class="wrap">-->
                    <!--        <li class=""><a href="/index.php/expo">紫红泥工艺</a></li>-->
                    <!--        <li class=""><a href="/index.php/wenjing">紫红泥文集</a></li>-->
                    <!--        <li class=""><a href="/index.php/yanjiuyuan">紫红泥研究院</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">会员体系</a>-->
                    <!--    <ul class="wrap">-->
                    <!--        <li class=""><a href="/index.php/member">体系详解</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="">-->
                    <!--    <a class="" href="javascript:void(0);">加入我们</a>-->
                    <!--    <ul class="wrap">-->
                    <!--        <li class=""><a href="/index.php/join_us1">经销商服务</a></li>-->
                    <!--        <li class=""><a href="/index.php/join_us2">经销商政策</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
<!--                </ul>-->
<!--                <div class="form-inline my-2 my-md-0"><span class="nav-link" style="color: #fff;">招商热线：13316820199</span></div>-->
<!--                <form class="form-inline my-2 my-md-0">-->
<!--                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
