{include file="index/header" /}
<style>
    @media all and (max-width:1000px) {
        .member_img>img{
            padding: 0 10%;
        }
    }
    
</style>
<link rel="stylesheet" href="/static/index/static/product/css/index.css">
<link rel="stylesheet" href="/static/index/static/member/css/index.css">
  <div class="banner">
      <img style="width: 100%;" class="img-fluid" src="/static/index/static/member/img/member-titile.png" alt="产品广告">
  </div>
  <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fff;">
              <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
              <li class="breadcrumb-item"><a style="color: #d60011" href="#">会员体系</a></li>
              <li class="breadcrumb-item active" aria-current="page">体系详情</li>
            </ol>
        </nav>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 altar_title" style="margin-top:0px;">会员成长体系</div>
    </div>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 member_img">
                
                <img class="img-fluid" src="/static/index/static/member/img/jinpai.png" alt="图片">
                <div style="text-align: center;color: #D60011;font-size: 20px;margin:1rem 0 2rem 0;">注册即可成为金牌会员享受619会员价</div>
            </div>
            <div class="col-md-4 member_img">
                
            <img class="img-fluid" src="/static/index/static/member/img/baijing.png" alt="图片">
            <div style="text-align: center;color: #D60011;font-size: 20px;margin:1rem 0 2rem 0;">一次性充值或累计消费10000元</div>
            </div>
            <div class="col-md-4 member_img">
                
            <img class="img-fluid" src="/static/index/static/member/img/zuanshi.png" alt="图片">
            <div style="text-align: center;color: #D60011;font-size: 20px;margin:1rem 0 2rem 0;">一次性充值或累计消费30000元</div>
            </div>
        </div>
    </div>
    <!--<div class="container" style="max-width: 1320px;">-->
    <!--    <div class="row">-->
    <!--        <div class="col-md-12 altar_title">会员专属优惠</div>-->
    <!--    </div>-->
    <!--    <table class="table table-bordered">-->
    <!--        <thead>-->
    <!--          <tr>-->
    <!--            <th scope="col" style="text-align: center;">类型</th>-->
    <!--            <th scope="col" style="text-align: center;">经典款/折扣</th>-->
    <!--            <th scope="col" style="text-align: center;">尊享服务</th>-->
    <!--          </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--          <tr>-->
    <!--            <th scope="row" style="text-align: center;">金牌会员</th>-->
    <!--            <td style="text-align: center;">619起</td>-->
    <!--            <td style="text-align: center;"></td>-->
    <!--          </tr>-->
    <!--          <tr>-->
    <!--            <th scope="row" style="text-align: center;">白金会员</th>-->
    <!--            <td style="text-align: center;">599起</td>-->
    <!--            <td style="text-align: center;">免费体验“紫红泥茅台镇酱香之旅”1次</td>-->
    <!--          </tr>-->
    <!--          <tr>-->
    <!--            <th scope="row" style="text-align: center;">钻石会员</th>-->
    <!--            <td style="text-align: center;">499起</td>-->
    <!--            <td style="text-align: center;">免费体验“紫红泥茅台镇酱香之旅”3人次</td>-->
    <!--          </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
    <!--</div>-->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 altar_title">会员权益</div>
        </div>
    </div>
    <div class="container">
        <ul class="interests">
            <li>1.购物优惠，享受会员优惠价，买的越多，省的越多。</li>
            <li>2.会员专属日福利，生日福利。</li>
            <li>3.每月专享会员优惠券。</li>
            <li>4.累计会员积分。</li>
            <li>5.享受专属客服服务。</li>
            <li>6.有机会参加紫红泥组织的相关线下服务。</li>
        </ul>
        <!--<img style="width: 100%;" class="img-fluid" src="/static/index/static/member/img/conter1.png" alt="产品广告">-->
    </div>
  <!--    底部-->
{include file="index/footer" /}