{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/expo/css/index.css">
    <div class="banner">
        <img style="width: 100%;" class="img-fluid" src="/static/index/static/expo/img/title1.png" alt="产品广告">
    </div>
    <div class="beijing1">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: #fff;">
                  <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
                  <li class="breadcrumb-item"><a style="color: #d60011" href="#">酒之博览</a></li>
                  <li class="breadcrumb-item active" aria-current="page">紫红泥工艺</li>
                </ol>
            </nav>
            <div style="font-size: 30px;font-weight: bold;color: #d60011;text-align: center;margin-bottom: 3%;">“天、地、水、粮”自然环境</div>
            <div class="row_conter">
                <div class="row">
                    <div class="col-md-2">
                        <img style="width: 110%;" src="/static/index/static/expo/img/tian.png" alt="图片">
                    </div>
                    <div class="col-md-10">
                        <div style="font-weight: bold;color: #d60011;"><span style="font-size: 30px;">天</span><span style="font-size: 30px;">：茅台镇核心酿酒区特定的气候环境</span></div>
                        <div class="title_text">茅台镇属于亚热带气候，位于海拔高度400米左右的低凹河谷地带，赤水河从中缓缓流过，全年平均气温17.4℃，冬暖夏热高温长，温湿适宜风速小，形成了相对稳定的特殊小气候环境，筛选出大量稳定的酿酒微生物菌群。酱香型白酒生产中约有120多种微生物群参与了酿酒过程。</div>
                    </div>
                </div>
            </div>
            <div class="row_conter">
                <div class="row">
                    <div class="col-md-2">
                        <img style="width: 110%;" src="/static/index/static/expo/img/di.png" alt="图片">
                    </div>
                    <div class="col-md-10">
                        <div style="font-weight: bold;color: #d60011;"><span style="font-size: 30px;">地</span><span style="font-size: 30px;">：窖泥必须是纯正的紫红泥</span></div>
                        <div class="title_text">茅台镇地质地貌结构主要是侏罗、白垩系紫色砂页岩、砾岩。土壤受海拔高度和岩石风化作用的影响，广泛发育成为土层50厘米左右的紫色土，当地人又称“紫红泥”。“紫红泥”酸碱适度，土质松软，空隙度大，渗透性好，水渗透过时能够溶解紫红岩石层中对人体有益的矿质。据中科院土壤研究所专家研究，以紫红泥为主的茅台镇地理环境对酱香酒具有重要作用。</div>
                    </div>
                </div>
            </div>
            <div class="row_conter">
                <div class="row">
                    <div class="col-md-2">
                        <img style="width: 110%;" src="/static/index/static/expo/img/shui.png" alt="图片">
                    </div>
                    <div class="col-md-10">
                        <div style="font-weight: bold;color: #d60011;"><span style="font-size: 30px;">水</span><span style="font-size: 30px;">：赤水河系含有丰富矿物质的水</span></div>
                        <div class="title_text">茅台镇地处川南黔北交界的山区，地表水和地下水通过两岸“紫红泥”土层流入赤水河，形成了无色透明、无嗅、无异味、味甜爽口、酸碱适度（PH7.2—7.8）的珍贵酿酒水源。河水水质好，富含多种有益人体健康的矿物质和微量元素，曾受国际饮水资源保护组织高度评价。</div>
                    </div>
                </div>    
            </div>
            <div class="row_conter">
                <div class="row">
                    <div class="col-md-2">
                        <img style="width: 100%;" src="/static/index/static/expo/img/liang.png" alt="图片">
                    </div>
                    <div class="col-md-10">
                        <div style="font-weight: bold;color: #d60011;"><span style="font-size: 30px;">粮</span><span style="font-size: 30px;">：黔西北出产的红缨子糯高粱</span></div>
                        <div class="title_text">紫红泥酒以本地特产的“红缨子”糯高粱为制酒原料。赤水河流域所产糯性高粱，又称“小红粱”，系紫红泥上所种植，高粱为红褐色，颗粒坚实，饱满均匀，支链淀粉含量高，皮厚结实，干燥耐蒸煮、耐翻拌，适宜酱香型白酒多次蒸煮翻造的工艺条件。</div>
                    </div>
                </div>    
            </div>
            
        </div>
    </div>
    <div class="beijing2">
        <div class="container" style="margin-top: 2%;max-width: 1340px;">
            <div style="font-size: 30px;font-weight: bold;color: #d60011;text-align: center;margin-bottom: 3%;">“二、九、八、七”古法工艺</div>
            <div>
                <img style="width: 100%;" class="img-fluid" src="/static/index/static/expo/img/title2.png" alt="产品广告">
            </div>
            <div class="title_text" style="margin: 3rem 0;">
                茅台镇顶级酱香酒“二、九、八、七”古法工艺是指，一年内完成端午踩曲、重阳下沙、两次投粮、九次蒸煮、八次发酵、七次取酒。经过这个过程得到的，才是酱香酒七个轮次的基酒，七轮基酒要分开经过三年贮存，才能进行精心勾调，然后再经过一年贮存才能装瓶出厂，正所谓“三年窖藏、五年成品”。
            </div>
            <div class="row_conter">
                <div class="text">二·二次投粮</div>
                <div class="title_text">二次投粮是指酱香型白酒投放高粱的次数，第一次投粮在重阳节，称为下沙，第二次是原料窖内发酵一个月后出窖再投放高粱，称为糙沙。</div>
            </div>
            <div class="row_conter">
                <div class="text">九·九次蒸煮</div>
                <div class="title_text">酱香型白酒要取七次酒，第一次和第二次蒸煮后都不取酒。一蒸生沙，是原料清蒸；二蒸糙沙，是混蒸；加上七次取酒的蒸煮，一共是九次蒸煮。</div>
            </div>
            <div class="row_conter">
                <div class="text">八·八次发酵</div>
                <div class="title_text">茅台镇正宗酱香型白酒原料要经过九次蒸煮，从重阳节第一次蒸煮开始加曲，到第九次蒸煮完取酒完成，就不用加曲了，所以从第一次到第八次蒸煮一共是八次加曲和发酵。</div>
            </div>
            <div class="row_conter">
                <div class="text">七·七次取酒</div>
                <div class="title_text">第一次蒸回沙时，这时候的酒清香带甜，后味带酸；第二次开始取回沙，这次的酒进口香，后味涩；第三次到第五次称为大回沙，这三轮酒质是所有轮次酒中最好的，其酒量也最大。第六次小回沙，这次的酒量也比较小，酒带糊味；最后一次取酒称为取枯糟酒，酒香味一般。</div>
            </div>
        </div>
    </div>
  <!--    底部-->
{include file="index/footer" /}