{include file="index/header" /}
    <link rel="stylesheet" href="/static/index/static/about/css/index.css">
    <div class="banner">
        <img style="width: 100%;" class="img-fluid" src="/static/index/static/about/img/title.png" alt="产品广告">
    </div>
    <div class="container" style="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fff;">
                <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
                <li class="breadcrumb-item"><a style="color: #d60011" href="#">关于紫红泥</a></li>
                <li class="breadcrumb-item active" aria-current="page">公司简介</li>
            </ol>
        </nav>
        <div class="illustrate" style="text-align: center;">
            在茅台镇酒厂中，有一颗酱香酒明星冉冉升起
        </div>
        <div class="illustrate1">
            这就是紫红泥！
        </div>
        <div class="illustrate2">
            紫红泥酒业有限公司(以下简称"紫红泥") 是位于茅台镇7.5平方公里核心酿酒区的大型酿酒集团。
        </div>
        <div class="illustrate2">
            紫红泥投资数十亿建设的"茅台镇紫红泥风情谷名酒庄"项目占据大幅酿酒之地，是茅台镇核心酿酒区入列《2020年贵州省重大工程和重点项目》名录仅有的两大酱香白酒项目之一
            (另一项目是茅台集团的中华区改造项目)。 
        </div>
        <div class="illustrate2">
            紫红泥是贵州省重大招商引资项目，也是茅台镇为数不多的入列《仁怀市国民经济与社会发展的十四个五年规划和二0三五年远景目标纲要》明星酒企。
        </div>
        <div class="row" style="margin-bottom: 5%;">
            <div class="col-md-4">
            <a class="news_a" href="#">
                <img style="width: 100%;border: 1px solid #eee;" src="/static/index/static/about/img/1.png" alt="新闻">
                <div class="about_title">紫红泥入列《贵州省2020年重大工程和重点项目名单》</div>
            </a>
            </div>
            <div class="col-md-4">
            <a class="news_a" href="#">
                <img style="width: 100%;border: 1px solid #eee;" src="/static/index/static/about/img/2.png" alt="新闻">
                <div class="about_title">"茅台镇紫红泥风情谷名酒庄"项目投资协议</div>
            </a>
            </div>
            <div class="col-md-4">
            <a class="news_a" href="#">
                <img style="width: 100%;border: 1px solid #eee;" src="/static/index/static/about/img/3.png" alt="新闻">
                <div class="about_title">紫红泥入列《仁怀市国民经济与社会发展的十四个五年规划和二0三五年远景目标纲要》</div>
            </a>
            </div>
        </div>

        <div>
            <img style="width: 100%;" class="img-fluid" src="/static/index/static/about/img/guihua.png" alt="产品广告">
        </div>
        <div style="text-align: center;color: #701f2f;margin-top: 2%;margin-bottom: 6%;font-size: 16px;">
            紫红泥万吨产能规划示意图
        </div>
    </div>

  <!--    底部-->
{include file="index/footer" /}