{include file="index/header" /}
<style>
    .stra_title{
        color: #d60011;font-size: 36px;
    }
    @media all and (max-width:1000px) {
        .stra_title{
            text-align: center;
        }
    }
</style>
<link rel="stylesheet" href="/static/index/static/expo/css/index.css">
<div class="banner">
    <img style="width: 100%;" class="img-fluid" src="/static/index/static/about/img/title.png" alt="产品广告">
</div>
    <div class="beijing2">
      <div class="container" style="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fff;">
                <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
                <li class="breadcrumb-item"><a style="color: #d60011" href="#">关于紫红泥</a></li>
                <li class="breadcrumb-item active" aria-current="page">四大战略</li>
            </ol>
        </nav>
          <div style="font-size: 30px;font-weight: bold;color: #d60011;text-align: center;margin-bottom: 3%;">紫红泥四大战略</div>
          <div class="row_conter">
              <div class="row">
                  <div class="col-md-2">
                      <img style="width: 100%;" src="/static/index/static/expo/img/tian.png" alt="图片">
                  </div>
                  <div class="col-md-10">
                      <div class="stra_title">大产能</div>
                      <div class="title_text">紫红泥在茅台镇核心酿酒区占据大幅酿酒用地，是茅台镇核心酿酒区规划产能超万吨的明星酒企。</div>
                  </div>
              </div>
          </div>
          <div class="row_conter">
              <div class="row">
                  <div class="col-md-2">
                      <img style="width: 100%;" src="/static/index/static/expo/img/di.png" alt="图片">
                  </div>
                  <div class="col-md-10">
                      <div class="stra_title">大品牌</div>
                      <div class="title_text">紫红泥横空出世，只有在完成 “大产能”的基础上才能建立一个“大品牌”。</div>
                  </div>
              </div>
          </div>
          <div class="row_conter">
              <div class="row">
                  <div class="col-md-2">
                      <img style="width: 100%;" src="/static/index/static/expo/img/shui.png" alt="图片">
                  </div>
                  <div class="col-md-10">
                      <div class="stra_title">大品质</div>
                      <div class="title_text">在“大产能”的基础上，保证长期恒定的“高品质”才能叫“大品质”。</div>
                  </div>
              </div>    
          </div>
          <div class="row_conter">
              <div class="row">
                  <div class="col-md-2">
                      <img style="width: 100%;" src="/static/index/static/expo/img/liang.png" alt="图片">
                  </div>
                  <div class="col-md-10">
                      <div class="stra_title">大销售</div>
                      <div class="title_text">建立在“大产能”、“大品牌”、“大品质”的基础上，让茅台镇酱香酒明星——紫红泥，这一世界顶级酱香酒飞入中国亿万寻常百姓家！这就是“大销售”！</div>
                  </div>
              </div>    
          </div>
          
      </div>
  </div>

  <!--    底部-->
{include file="index/footer" /}