{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/about/css/index.css">
<div class="banner">
    <img style="width: 100%;" class="img-fluid" src="/static/index/static/about/img/title.png" alt="产品广告">
</div>
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb" style="background-color: #fff;">
              <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
              <li class="breadcrumb-item"><a style="color: #d60011" href="#">关于紫红泥</a></li>
              <li class="breadcrumb-item active" aria-current="page">紫红泥愿景</li>
          </ol>
      </nav>
  </div>
  <div class="beijing2">
    <div class="container">
      <div style="margin-bottom: 2%;" class="illustrate1">紫红泥愿景</div>
      <div class="fluid_text">
        未来十年，酱酒行业将呈快速发展趋势，酱香酒将是中国白酒中唯一的黄金产业赛道，茅台镇酱香酒仍有30倍以上的成长空间，预计市场份额近万亿。
      </div>
      <div class="fluid_text">
        紫红泥，在茅台镇核心酿酒区规划产能超万吨，未来必将成为茅台镇酱香酒企中最耀眼的明星。
      </div>
      <div class="fluid_text">
        紫红泥将矢志不渝的恪守用心、用情、用品格酿酒的理念，扎根茅台镇，服务全社会！紫红泥坚信：品质才是奇迹之源。紫红泥为中国的普罗大众喝上更健康、更优质的酱香酒而努力，实现紫红泥的梦想：
      </div>
      
      <div class="illustrate">让茅台镇酱香酒明星————紫红泥</div>
      <div class="illustrate">这一世界顶级酱香酒飞入中国亿万寻常老百姓家</div>
    </div>
  </div>

  <!--    底部-->
{include file="index/footer" /}