
<!--    底部-->
<div class="footer">
    <div class="container" style="max-width: 1320px;">
        <div class="footer-list" id="footer-list">
            <ul>
                <li>
                    <div><a href="/index.php/vision">关于紫红泥</a></div>
                    <div><a href="/index.php/About">公司简介</a></div>
                    <div><a href="/index.php/strategy">紫红泥四大战略</a></div>
                    <div><a href="/index.php/vision">紫红泥愿景</a></div>
                </li>
                <li>
                    <div><a href="/index.php/news">新闻中心</a></div>
                    <div><a href="/index.php/vision">品牌活动</a></div>
                </li>
                <li>
                    <div><a href="/index.php/product">产品中心</a></div>
                    <div><a href="/index.php/product">关于产品</a></div>
                    <div><a href="/index.php/altar">定制中心</a></div>
                    <div><a href="/index.php/commission">封坛专区</a></div>
                </li>
                <li>
                    <div><a href="/index.php/join_us1">经销商服务</a></div>
                    <div><a href="/index.php/join_us2">经销商体系</a></div>
                </li>
                <li>
                    <div><a href="/index.php/expo">酒之博览</a></div>
                    <div><a href="/index.php/expo">紫红泥工艺</a></div>
                    <div><a href="/index.php/wenjing">紫红泥文集</a></div>
                    <div><a href="/index.php/yanjiuyuan">紫红泥研究院</a></div>
                </li>
                <li>
                    <div><a href="/index.php/member">会员体系</a></div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>

        <div>
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align: center;color: #fff;margin-bottom: 1rem;">
                    <div style="font-size: 26px;color: #fff;">
                        <img src="/static/index/static/index/img/footer/logo.png" alt="logo">
                        紫红泥酒业有限公司
                    </div>
                </div>
                <div class="col-xs-12 col-md-8" style="text-align: center;color: #fff">
                    <span><img src="/static/index/static/index/img/footer/dizhi.png" alt="地标"></span>
                    <span>地址：贵州省仁怀市茅台镇盐滩村</span>&emsp;&emsp;
                    <span><img src="/static/index/static/index/img/footer/haoma.png" alt="图标"></span>
                    <span>中国第一条健康白酒服务热线：0755-83510199</span>
                    <div class="footer-record">
                        &emsp;&emsp;&emsp;&ensp;黔ICP备17006052号 Copyright © 紫红泥酒业有限公司
                    </div>
                </div>
                <div class="col-xs-6 col-md-3" style="text-align: center;font-size: 20px;color: #fff;">
                    <img src="/static/index/static/index/img/footer/guanfang.png" class="img-thumbnail" alt="官方微信">
                    <!-- 紫红泥官方微信号 -->
                    <img src="/static/index/static/index/img/footer/jingdong.png" class="img-thumbnail" alt="京东商城">
                    <!-- 紫红泥京东旗舰店 -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/index/lib/bootstrap/site/static/docs/4.6/assets/js/vendor/jquery.slim.min.js"></script>
<script src="/static/index/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/index/static/index/js/common.js"></script>
<script>
</script>
</body>
</html>