{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/join/css/index.css">
  <div class="banner">
    <img style="width: 100%;" class="img-fluid" src="/static/index/static/join/img/title.png" alt="产品广告">
  </div>
  <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fff;">
              <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
              <li class="breadcrumb-item"><a style="color: #d60011" href="#">加入我们</a></li>
              <li class="breadcrumb-item active" aria-current="page">经销商服务</li>
            </ol>
        </nav>
  </div>
  
      <div class="container" style="margin-top: 2%;padding: 0 10%;">
          <div class="row">
              <div class="col-xs-12" style="font-size:20px;">
                  <div style="font-size: 30px;color: #d60011;text-align:center;font-weight:bold;">招商信息</div>
                  <div style="font-size: 25px;color: #d60011;text-align: center;margin: 3% 0;">授权经销商申请</div>
                  <div style="">感谢您对紫红泥酒的认可！紫红泥酒业现已启动全国招商，开放线下经销商授权，诚邀各类专业酒业经销商加入我们，欢迎转型的中小微企业加入我们，欢迎志存高远的初始创业、创富人士加入我们。现将招商相关事宜公布如下</div>
                  <div style="font-weight: bold;margin: 4% 0">基本要求：</div>
                  <div>
                      <p>1、具备实干精神，认同紫红泥酒业发展理念。</p>
                      <p>2、地级市（含）以上、以公司为主体的企业单位，且当前无经营和法律风险。</p>
                      <p>3、具有白酒销售的社会资源，团购资源优先考虑。</p>
                  </div>
                  <div style="font-weight: bold;margin: 4% 0">申请方式：</div>
                  <div>
                      <p>下载申请表，填写后发送至：<a href="javascript:void(0)">zhnjiu@163.com</a>，同时以邮件附件形式提供营业执照和食品经营许可证扫描件。</p>
                  </div>
                  <div style="font-weight: bold;margin: 4% 0">申请表下载：</div>
                  <img class="img-fluid" style="width: 7%" src="/static/index/static/join/img/excel.jpg"><a style="color: #000" href="/static/紫红泥经销申请表模板.xlsx" target="_blank">申请表模板.xlsx</a>
              </div>
          </div>
      </div>
  <div class="beijing1">
    <div class="container" style="margin-top: 2%;max-width: 1400px;">
        
      <div style="font-size: 30px;font-weight: bold;color: #d60011;text-align: center;margin-bottom: 3%;">紫红泥经销商服务体系</div>
      <div class="row">
        <div class="col-md-6">
            <img style="width: 100%;border: 1px solid #eee;" src="/static/index/static/join/img/adds1.png" alt="图片">
        </div>
        <div class="col-md-6">
            <div class="join_text">紫红泥营销总部及西南区域经销商服务中心（仁怀）</div>
            <div class="join_text">紫红泥营销总部及华南区域经销商服务中心（深圳）</div>
            <div class="join_text">北京经销商服务中心</div>
            <div class="join_text">济南经销商服务中心</div>
            <div class="join_text">上海经销商服务中心</div>
            <div class="join_text">郑州经销商服务中心</div>
            <div class="join_text">西安经销商服务中心</div>
            <div class="join_text">武汉经销商服务中心</div>
            <div class="join_text">广州经销商服务中心</div>
            <div class="join_text">南京经销商服务中心</div>
            <div class="join_text">青岛经销商服务中心</div>
            <div class="join_text">苏州经销商服务中心</div>
        </div>

        
      </div>
    </div>
  </div>
  <!--    底部-->
{include file="index/footer" /}