{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/join/css/index.css">
  <div class="banner">
    <img style="width: 100%;" class="img-fluid" src="/static/index/static/join/img/title.png" alt="产品广告">
  </div>
  <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #fff;">
          <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
          <li class="breadcrumb-item"><a style="color: #d60011" href="#">加入我们</a></li>
          <li class="breadcrumb-item active" aria-current="page">经销商体系</li>
        </ol>
      </nav>
  </div>
  <div class="beijing">
    <div class="container">
        <div style="font-size: 30px;font-weight: bold;color: #d60011;text-align: center;margin-bottom: 3%;">经销商政策</div>
    <div class="row">
        <div class="col-md-12 title">
            <div class="title_text">营销支持</div>
            <div class="text">协助经销商进行销售知识培训、促销推广活动的策划运作指导等。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">广告支持</div>
            <div class="text">公司根据当地销售情况和企业规划，在相关区域投放相应的广告支持。包括但不限于公交、户外、机场、高铁、报纸、电视、自媒体推广等。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">物料支持</div>
            <div class="text">公司提供统一的宣传资料、促销品、宣传单、促销小礼品、产品形象画册等作为推广支持。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">物流支持</div>
            <div class="text">承担一次至客户指定地方物流费。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">调换货支持</div>
            <div class="text">给予100%调换货支持（不影响二次销售，物流费由经销商承担）。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">代理推荐支持</div>
            <div class="text">经销商推荐其他区域代理达成合作者，公司以首批进货额的3-5%做为奖励。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">形象授权</div>
            <div class="text">授权经销商在代理区域使用“紫红泥”形象店权利。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">定制支持</div>
            <div class="text">可以为经销商的客户提供优惠定制服务，包括标准定制、个性定制等。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">回厂游支持</div>
            <div class="text">经销商每年享有一定名额体验紫红泥茅台镇“醉”美之旅。</div>
        </div>
        <div class="col-md-12 title">
            <div class="title_text">特别支持</div>
            <div class="text">有机会参加紫红泥经销商大会、新闻发布会，紫红泥与北创营联合举办的“紫红泥之夜”、紫红泥高峰论坛等活动。</div>
        </div>
        <div class="col-md-12">
            <div>
                <img style="width: 100%;" class="img-fluid" src="/static/index/static/join/img/adds2.png" alt="产品广告">
            </div>
        </div>
        <div style="font-size: 40px;color: #701f2f;margin: 4rem 0;">
            招商热线：13316820199
        </div>
    </div>
    </div>
  </div>


{include file="index/footer" /}