{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/product/css/index.css">
  <div class="banner">
      <img style="width: 100%;" class="img-fluid" src="/static/index/static/product/img/product-title.jpg" alt="产品广告">
  </div>
  <div class="container">
      <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fff;">
                <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
                <li class="breadcrumb-item"><a style="color: #d60011" href="#">产品中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">封坛专区</li>
            </ol>
        </nav>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 altar_title" style="margin-top:0px;">紫红泥封坛政策</div>
    </div>
  </div>
  <div class="beijing1">
    <div class="container">
      <div class="fluid_text">
        1、公司与封坛客户签订《封坛酒委托保管合同》。
      </div>
      <div class="fluid_text">
        2、公司为封坛客户颁发《封坛荣誉证书》。
      </div>
      <div class="fluid_text">
        3、紫红泥为封坛客户提供免费食宿、接送、参观等服务。
      </div>
      <div class="fluid_text">
        4、每位封坛客户均可获赠“紫红泥茅台镇酱香之旅”名额一个。
      </div>
      <div class="fluid_text">
        5、封坛客户自动成为紫红泥高级会员、享受多重VIP福利特权。
      </div>
      <div class="fluid_text">
        6、封坛客户可享受三年免费托管服务，第四年开始每年收取封坛费3%，作为托管费用。
      </div>
      <div class="fluid_text">
        7、封坛客户取酒时可选择紫红泥专用包装，享受合同约定的免费取酒服务（包含定制、包装、物流等）。
      </div>
    </div>
  </div>
  <div class="beijing2">
    <div class="container">
      <div style="padding-top: 3.7rem;padding-bottom: 2rem;">
        <img style="width: 100%;" class="img-fluid" src="/static/index/static/product/img/fengtan.png" alt="产品广告">
      </div>
      <div class="feng_text">好酒需要时间酿造，也需要时间典藏。</div>
      <div class="feng_text">紫红泥封坛酒，帮您蕴藏一缕酱香，也帮您封存一段值得留恋的时光！</div>
      <div style="padding-top: 6rem;"></div>
    </div>
  </div>
  <!--    底部-->
{include file="index/footer" /}