{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/product/css/index.css">
  <div class="banner">
      <img style="width: 100%;" class="img-fluid" src="/static/index/static/product/img/product-title.jpg" alt="产品广告">
  </div>
  <div class="container">
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #fff;">
          <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
          <li class="breadcrumb-item"><a style="color: #d60011" href="#">产品中心</a></li>
          <li class="breadcrumb-item active" aria-current="page">紫红泥酒</li>
        </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 product-title" style="color:#d60011;font-size:30px;margin-top:0px;">产品展示</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 product_text">
        <a href="product_details_1"><img style="width: 100%;border: 1px solid #eee;margin-bottom: 30px;" src="/static/index/static/product/img/product1.png" alt="产品图片"></a>
        <h1 class="card-title pricing-card-title" style="text-align: center;font-size:25px;">紫红泥·普乐</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>香型:酱香型 度数:53%vol</li>
          <li>规格:500ml 发行地:中国</li>
          <li><span>零售价：￥</span><span style="font-size: 36px;color: #d60011;font-weight: bold;">499</span>/瓶</li>
          <!-- <li>酒体醇厚/清澈透明/留香持久</li> -->
        </ul>
      </div>
      <div class="col-md-4 product_text">
          <a href="product_details_2"><img style="width: 100%;border: 1px solid #eee;margin-bottom: 30px;" src="/static/index/static/product/img/product2.png" alt="产品图片"></a>
          <h1 class="card-title pricing-card-title" style="text-align: center;font-size:25px;">紫红泥·经典</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>香型:酱香型 度数:53%vol</li>
            <li>规格:500ml 发行地:中国</li>
            <li><span>零售价：￥</span><span style="font-size: 36px;color: #d60011;font-weight: bold;">699</span>/瓶</li>
            <!-- <li>酒体醇厚/清澈透明/留香持久</li> -->
          </ul>
      </div>
      <div class="col-md-4 product_text">
          <a href="product_details"><img style="width: 100%;border: 1px solid #eee;margin-bottom: 30px;" src="/static/index/static/product/img/product3.png" alt="产品图片"></a>
          <h1 class="card-title pricing-card-title" style="text-align: center;font-size:25px;">紫红泥·皇家大礼</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>香型:酱香型 度数:53%vol</li>
            <li>规格:500ml 发行地:中国</li>
            <li><span>零售价：￥</span><span style="font-size: 36px;color: #d60011;font-weight: bold;">1999</span>/瓶</li>
            <!-- <li>酱香突出/细腻优雅/回味悠长</li> -->
          </ul>
      </div>
    </div>
  </div>
  <!--    底部-->
{include file="index/footer" /}