{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/product/css/index.css">
  <div class="banner">
      <img style="width: 100%;" class="img-fluid" src="/static/index/static/product/img/product-title.jpg" alt="产品广告">
  </div>
  <div style="margin-top: 4%;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fff;">
                <li class="breadcrumb-item"><a style="color: #d60011" href="/">首页</a></li>
                <li class="breadcrumb-item"><a style="color: #d60011" href="#">产品中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">紫红泥-皇家大礼</li>
            </ol>
         </nav>
        <div class="row">
          <div class="col-md-6">
              <img class="img-fluid" src="/static/index/static/product/img/details1.png" alt="图片">
          </div>
          <div class="col-md-6">
              <div style="font-size: 44px;font-weight: bold;color: #d60011;margin: 8% 0;">紫红泥-皇家大礼（坤沙大曲）</div>
              <p style="font-size: 30px;">配&emsp;料：高粱，小麦，水</p>
              <p style="font-size: 30px;">香&emsp;型：酱香型</p>
              <p style="font-size: 30px;">规&emsp;格：500ml</p>
              <p style="font-size: 30px;">酒精度：53%vol</p>
              <div style="font-size: 26px;background-color: #d60011;margin-top: 8%;color: #fff;padding: 0.5rem 1rem;width: 40%;text-align: center;">点击购买</div>
          </div>
        </div>
        <div class="row" style="margin-top: 6%;">
            <div class="col-md-12" style="margin-bottom: 3%;">
                <div style="font-size: 30px;font-weight: bold;color: #d60011;">产品介绍</div>
            </div>
            <div class="col-md-12" style="font-size:20px;">
                <div>传承酱香酒精髓的“二九八七”工艺，以“红缨子”糯高粱为制酒原料，端午制曲、重阳下沙，两次投料、九次蒸煮、八次发酵、七次取酒。</div>
                <div style="margin-top: 2%;">
                    采用高温制曲、高温堆积、高温发酵、高温馏酒的特殊工艺。并按酱香、醇甜及窖底香三种典型体分类，对七款轮次酒分别长期储存，精心勾调而成的具有典型酱香酒风格的天然发酵蒸馏白酒。</div>
                <div style="margin-top: 2%;">
                    紫红泥-皇家大礼酒体老熟，香味舒适、回香不绝、空杯留香持久，遴选年份优质基酒，乃不可多得的酱香珍品。
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-6">
                <img class="img-fluid" src="/static/index/static/product/img/introduce1.png" alt="图片">
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="/static/index/static/product/img/introduce2.png" alt="图片">
            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-12" style="margin-bottom: 3%;">
                <div style="font-size: 30px;font-weight: bold;color: #d60011;">更多产品</div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-6">
                <a href="product_details_1"><img class="img-fluid" src="/static/index/static/product/img/gengduo3.png" alt="图片"></a>
            </div>
            <div class="col-md-6">
                <a href="product_details_2"><img class="img-fluid" src="/static/index/static/product/img/gengduo2.png" alt="图片"></a>
            </div>
        </div>
    </div>
  </div>
  <!--    底部-->
{include file="index/footer" /}