{include file="index/header" /}
<link rel="stylesheet" href="/static/index/static/news/css/index.css">
  <div class="banner">
    <!-- <img style="width: 100%;" class="img-fluid" src="../static/news/img/news-titile.png" alt="产品广告"> -->
  </div>
    <div class="container" style="margin: 3% auto;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="../index/index.html">首页</a></li>
              <li class="breadcrumb-item"><a href="../news/index.html">新闻中心</a></li>
              <li class="breadcrumb-item active" aria-current="page">新闻详情</li>
            </ol>
        </nav>
        <div class="conent-title">
            <div class="title_details">构建国台大健康产品数智共享体验平台、推动京津冀重点市场高质量发展，又一场经销商代表恳谈会圆满召开！</div>
            <div class="title_time">发布时间：</div>
        </div>
    </div>

  <!--    底部-->
{include file="index/footer" /}